---
import { Button } from "@nextui-org/react";
import Image from "astro/components/Image.astro";
import Cristian from "../assets/imgs/cristian.webp";
import { CURRENT_WORK_NAME, CURRENT_WORK_LINK } from "../constants/commons";
import { EMAIL } from "../constants/links";
import TypeWriter from "../components/TypeWriter.tsx";
---

<div class="absolute left-4 opacity-70 hidden md:block">
  <div class="flex flex-col gap-2 items-center">
    <div class="h-48 w-px bg-white"></div>
    <a
      href="#id"
      target="_blank"
      aria-label="Link cristian github"
      class="icon-[mdi--github] text-2xl hover:scale-125 hover:bg-secondary cursor-pointer transition-all"
    ></a>
    <a
      href="#id"
      target="_blank"
      aria-label="Link cristian linkedin"
      class="icon-[mdi--linkedin] text-2xl hover:scale-125 hover:bg-secondary cursor-pointer transition-all"
    ></a>
  </div>
</div>
<section class="flex flex-col md:flex-row items-center mt-12 layout-padding md:w-[72rem]">
  <div class="flex flex-col w-full md:w-2/4 h-full">
    <div class="flex w-full">
      <TypeWriter
        words={[
          {
            text: "Cristian",
            className: "text-4xl text-[#e6e6e6] font-medium",
          },
          {
            text: "Bula",
            className: "text-4xl text-[#e6e6e6] font-medium",
          },
        ]}
        client:visible
      />
    </div>
    <h2 class="text-2xl md:text-4xl mt-2 md:mt-0 text-left text-secondary">
      FullStack Developer
    </h2>
    <p class="[&>span]:text-secondary mt-6 text-gray-400">
      Fullstack developer specialized in web applications with <span>React</span
      > & <span>Astro Js</span>, as well as Back End developer <span
        >Nodejs</span
      >.
    </p>
    <Button
      className="border border-secondary bg-primary text-white !w-fit my-4 "
      client:visible
      ><a href={EMAIL} target="_blank" rel="noopener noreferrer">Contact me</a
      ></Button
    >
  </div>
  <div class="flex justify-center w-full md:w-2/4 relative">
    <Image
      class="w-64 grayscale-[50%] drop-shadow-2xl mr-12 md:mr-0"
      src={Cristian}
      width={384}
      height={599}
      alt="Cristian Bula"
      loading="eager"
    />
    <div
      class="flex border absolute bottom-0 ml-0 md:ml-8 p-2 leading-3 gap-2 text-sm bg-primary"
    >
      <div class="w-3 bg-secondary"></div> Currently working on <a
        href={CURRENT_WORK_LINK}
        target="_blank"
        class="hover:text-secondary cursor-pointer">{CURRENT_WORK_NAME}</a
      >
    </div>
  </div>
</section>
