<nav class="flex w-full layout-padding py-6">
  <p class="flex items-center gap-2 text-lg font-bold">
    <span class="icon-[mdi--space-invaders]" role="img" aria-hidden="true"
    ></span>
    Cristian
  </p>
  <div class="ml-auto">
    <ul class="gap-8 hidden md:flex">
      <li class="text-white font-bold"><a href="#home"><span class="text-secondary">#</span>home</a></li>
      <li class="text-gray-400"><a href="#projects"><span class="text-secondary">#</span>projects</a></li>
      <li class="text-gray-400"><a href="#about-me"><span class="text-secondary">#</span>about-me</a></li>
      <li class="text-gray-400"><a href="#contact"><span class="text-secondary">#</span>contacts</a></li>
    </ul>
  </div>
</nav>
