<section class="flex flex-col layout-padding mt-20 justify-end">
  <div class="border border-gray-400 w-fit p-4 relative">
    With great power comes great electricity bill
    <div class="bg-primary px-1 absolute top-0 left-4 -mt-4">
      <span
        class="icon-[icomoon-free--quotes-left] text-2xl"
        role="img"
        aria-hidden="true"></span>
    </div>
  </div>
  <div class="border border-gray-400 w-fit p-3 relative self-end px-5">
    - Dr. Who
    <div class="bg-primary px-1 absolute top-0 right-4 -mt-4">
      <span
        class="icon-[icomoon-free--quotes-left] text-2xl"
        role="img"
        aria-hidden="true"></span>
    </div>
  </div>
</section>
