:root,
.light {
  --nav-height: var(--size-8);
  --standard-border: var(--border-size-1) solid var(--tertiary-background-color);
  --font-sans: "Fira Code Variable", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --background-color: #e6e6e6;
  --secondary-background-color: var(--gray-1);
  --tertiary-background-color: var(--gray-2);
  --text-color: #282c33;
  --accent-color: var(--blue-11);
  --radio-border-color: var(--gray-4);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --background-color: #282c33;
    --secondary-background-color: var(--gray-9);
    --tertiary-background-color: var(--gray-8);
    --text-color: #e6e6e6;
    --accent-color: var(--blue-2);
    --radio-border-color: var(--gray-8);
    color-scheme: dark;
  }
}

.dark {
  --background-color: var(--gray-10);
  --secondary-background-color: var(--gray-9);
  --tertiary-background-color: var(--gray-8);
  --text-color: var(--gray-0);
  --accent-color: var(--blue-2);
  --radio-border-color: var(--gray-8);
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: var(--font-lineheight-3);
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  overflow-x: hidden;
}

h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
@media (width <= 768px) {
  .layout-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (width <= 1280px) and (width > 768px) {
  .layout-padding {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (width >= 1280px) {
  .layout-padding {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
}