
html {
  scroll-behavior: smooth;
}

body {
  line-height: var(--font-lineheight-3);
  margin: 0;
  font-family: "Fira Code Variable", sans-serif;
  background-color: #282c33;
  color: #e6e6e6;
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  overflow-x: hidden;
}

h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
@media (width <= 768px) {
  .layout-padding {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (width <= 1280px) and (width > 768px) {
  .layout-padding {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (width >= 1280px) {
  .layout-padding {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
}